ol,
ul {
    list-style: none;
}


/* nav menu styles */

#nav {
    display: block;
    margin: 0 auto;
    list-style: none;
}

#nav>li>a {
    display: block;
    font-size: 14px;
    color: #707070;
    text-decoration: none;
    background-color: #F8F8F8;
}

#nav>li>a:hover {
    color: #000;
}

#nav li ul li a:hover {
    background: #727272;
}