ol,
ul {
    list-style: none;
}


/* nav menu styles */

#top-menu {
    display: block;
    margin: 0 auto;
    list-style: none;
}

#top-menu>li>a {
    display: block;
    font-size: 14px;
    color: #707070;
    text-decoration: none;
    background-color: #F8F8F8;
}

#top-menu>li>a:hover {
    color: #000;
}

#top-menu li ul li a:hover {
    background: #727272;
}

#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    color: #333;
    background-color: #dcdde1;
}