* {
    font-family: Poppins;
    color: #565656
}

.head {
    background-color: #249ED8;
    height: 100px;
}

.style-begin {
    margin-top: 20px;
    display: flex;
    padding: 10px;
}

.logo {
    width: 80px;
    height: 80px;
}

.logoParagraph {
    color: #FFF;
    font-weight: bolder;
    letter-spacing: 3px;
    font-family: Poppins;
    margin-left: 20px;
    margin-top: 15px;
    align-items: center;
}

.img2 {
    width: 600px;
    height: auto;
    height: auto;
    margin-bottom: 100px;
}

.img3 {
    width: 600px;
    height: auto;
    height: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}

.img4 {
    width: 600px;
    height: auto;
    height: auto;
    margin-top: 50px;
}

.divInfo {
    margin-left: 60px;
    align-self: center;
}

.sizeBox {
    max-width: 960px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-img-top {
    max-width: 155px;
    max-height: auto;
    align-self: center;
    margin-top: 15px;
}

.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.card-text {
    text-align: center;
}

.corAzulClaro {
    color: #249ED8;
}

.corAzulEscuro {
    color: #0166A7;
}

#aspectoMicose {
    background-color: #E5F4F7;
    margin-top: 100px;
}

.menu {
    position: absolute;
    margin-left: 50%;
    margin-top: 22px;
}

.lista1 li:before {
    content: "■";
    margin: 0 2px;
    color: #249ED8;
}

.lista li:before {
    content: "■";
    margin: 0 2px;
    color: #249ED8;
    line-height: 2.5em;
}

.lista li {
    color: #249ED8;
}

ul {
    padding: 0;
}

.btn-primary {
    background-color: #249ED8;
    border-color: #249ED8;
}

.btn-primary:hover {
    background-color: #2BB7F9;
    border-color: #2BB7F9;
}

.btn-success {
    background-color: #76CD04;
    border-color: #76CD04;
}

.btn-success:hover {
    background-color: #83E601;
    border-color: #83E601;
}